<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="2" >

    <test name="integration" >
        <groups>
            <run>
                <include name="web10"/>
            </run>
        </groups>
        <classes>
            <class name="projects.frontend.cashback.suites.Auth"/>
            <class name="projects.frontend.cashback.suites.Registration"/>

        </classes>
    </test>

</suite>
